$back-1: #fce8e6;
$color-1: #dc3e33;

$back-2: #dbcdf5;
$color-2: #a380e6;

$back-3: #c8f5d6;
$color-3: #84c59d;

$back-4: #e7d9fd;
$color-4: #8d79a9;


$back-4: #feeac7;
$color-4: #edd172;

$back-5: #1a1c20;
$color-5: #1b1c1f;

$back-6: #243aff;
$color-6: #41729c;

$red: #E53935;
$Test-color: #d1d5ff;