@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("../icons/cursor.png"), pointer;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

span {
  pointer-events: none;
  color: #e53935;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
}
.open .layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: openLayer 2s cubic-bezier(0.64, 0.06, 0.36, 1) forwards;
}
.open .layer:first-child {
  background: #000;
  z-index: 2;
}
.open .layer:last-child {
  background: #00a1ff;
  animation-delay: 1.2s;
  z-index: 1;
}
@keyframes openLayer {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.wrapper {
  position: relative;
  width: 100%;
  animation: fade 2s linear forwards;
  animation-delay: 1.5s;
}
@keyframes fade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50%,
  100% {
    transform: translateY(0%);
  }
}
.wrapper .slider {
  position: relative;
  width: 100%;
  height: 600px;
}
.wrapper .slider::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 88;
}
.wrapper .slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .slider h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8e3ff;
  font-family: "Strretch Sans Free";
  white-space: nowrap;
  font-size: 5em;
  z-index: 1000;
}
.wrapper .slider h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #0178ff;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: scaleX(1);
  animation: revel 0.6s ease-in-out forwards;
  animation-delay: 2.6s;
  cursor: pointer;
}
@keyframes revel {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.wrapper .navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 40px 100px;
  background: #232b2b;
  z-index: 8;
  box-shadow: 0px 11px 10px #15111133, 0 20px 30px #232b2b17;
}
.wrapper .navbar .logo {
  width: 50%;
  float: left;
  color: #d6d9ff;
  font-size: 1.9em;
  margin-top: -11px;
  padding-left: 14px;
  font-family: "Strretch Sans Free";
  text-decoration: none;
  cursor: pointer;
}
.wrapper .navbar .menu {
  float: right;
  margin-top: -18px;
}
.wrapper .navbar .menu p {
  color: #84c59d;
  font-size: 1.8em;
  cursor: pointer;
  font-family: "Monument";
  transition: color 0.5s;
}
.wrapper .navbar .menu p:hover {
  color: #6affa3;
}
.wrapper .features {
  display: flex;
  margin-top: 76px;
  margin-bottom: 99px;
}
.wrapper .features .box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.wrapper .features .box h1 {
  text-transform: uppercase;
  font-family: "Monument", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 20px;
}
.wrapper .features .box p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
}
.wrapper .about {
  position: relative;
  display: flex;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.wrapper .about .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  margin-top: 30px;
}
.wrapper .about .imgBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}
.wrapper .about .imgBx canvas {
  width: 98% !important;
  height: 86% !important;
}
.wrapper .about .content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
}
.wrapper .about .content .header {
  font-family: "Monument";
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 30px;
  color: #313133;
  letter-spacing: -2px;
}
.wrapper .about .content p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
}
.wrapper .about .content .pr-box {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding: 30px;
}
.wrapper .about .content .pr-box .box {
  position: relative;
  width: calc(100% / 2);
  padding-left: 50px;
  margin-top: -4px;
}
.wrapper .about .content .pr-box .box .fa {
  color: #ff2d37c7;
  position: absolute;
  left: 5px;
  font-size: 24px;
  top: 4px;
}
.wrapper .about .content .pr-box .box h2 {
  font-family: poppins;
  font-size: 1.71em;
  font-weight: 500;
  margin-bottom: 10px;
}
.wrapper .skills {
  position: relative;
  display: flex;
  width: 100%;
  height: 458px;
  margin-top: 30px;
}
.wrapper .skills .content-skills {
  width: 50%;
  padding: 30px;
}
.wrapper .skills .content-skills h2 {
  font-family: "Monument";
  font-weight: 400;
  font-size: 2em;
  color: #18181a;
  margin-bottom: 20px;
}
.wrapper .skills .content-skills p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
}
.wrapper .skills .content-skills button {
  font-family: Monument;
  background: #39ff8875;
  color: #34a742;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  margin-top: 30px;
  outline: none;
  font-weight: 400;
  border: 2px solid #74ff634d;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.wrapper .skills .skills-bar {
  width: 50%;
  padding: 60px;
}
.wrapper .skills .skills-bar .box {
  width: 100%;
  margin-bottom: 30px;
}
.wrapper .skills .skills-bar .box h2 {
  position: relative;
  font-family: "Strretch Sans Free";
  text-transform: uppercase;
  color: #27272b;
  margin-bottom: 10px;
  font-weight: 200;
}
.wrapper .skills .skills-bar .box h2:before {
  content: "";
  position: absolute;
  top: 193%;
  left: 2px;
  transform: translateY(-50%) scale(1);
  width: 100%;
  height: 110%;
  background: #e0e1ff;
}
.wrapper .skills .skills-bar span {
  position: relative;
  background: #2673ff;
  height: 30px;
  display: inline-block;
}
.wrapper .skills .skills-bar span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-38%);
  width: 30px;
  height: 20px;
  color: #dadaff;
  font-family: "Monument";
  font-size: 0.8em;
}
.wrapper .skills .skills-bar .ps {
  width: 84%;
}
.wrapper .skills .skills-bar .ps:before {
  content: "84%";
}
.wrapper .skills .skills-bar .ae {
  width: 33%;
}
.wrapper .skills .skills-bar .ae:before {
  content: "33%";
}
.wrapper .skills .skills-bar .cc {
  width: 90%;
}
.wrapper .skills .skills-bar .cc:before {
  content: "90%";
}
.wrapper .skills .skills-bar .php {
  width: 70%;
}
.wrapper .skills .skills-bar .php:before {
  content: "20%";
}
.wrapper .resume {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
}
.wrapper .resume h2 {
  font-family: "Monument";
  font-weight: 400;
  margin-bottom: 28px;
  font-size: 2em;
}
.wrapper .resume p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  max-width: 900px;
  text-align: center;
  line-height: 1.5em;
}
.wrapper .resume button {
  font-family: Monument;
  background: #fce8e6;
  color: #dc3e33;
  padding: 1em 1.2em;
  font-size: 1.2em;
  margin-top: 30px;
  outline: none;
  border: none;
  font-weight: 400;
  border-radius: 2px;
  box-shadow: 1px 12px 20px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-size: 1.1em;
}
.wrapper .education {
  position: relative;
  height: 1000px;
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.wrapper .education .education-content {
  width: 50%;
  padding: 30px;
}
.wrapper .education .education-content h2 {
  position: relative;
  font-family: "Monument";
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.8em;
  text-transform: uppercase;
}
.wrapper .education .education-content p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
}
.wrapper .education .education-content .box {
  margin-bottom: 324px;
}
.wrapper .education .experience {
  width: 50%;
  padding: 30px;
  margin-top: 30px;
}
.wrapper .education .experience .box {
  margin-bottom: 40px;
}
.wrapper .education .experience .box h2 {
  font-family: "Monument";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wrapper .education .experience .box p {
  position: relative;
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  margin-bottom: 16px;
}
.wrapper .education .experience .box button {
  position: relative;
  background: #3e62ff;
  border: none;
  outline: none;
  padding: 6px 7px;
  margin-bottom: 30px;
  font-family: "Monument";
  font-weight: 400;
  font-size: 0.6em;
  color: #d1d4ff;
}
.wrapper .education .experience .box button.last-p::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 1px;
  width: 703%;
  height: 2px;
  background-color: #d8d5fb;
}
.wrapper .education .experience .box button.last-p.full::before {
  width: 803%;
}
.wrapper .testimonials {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 88px;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper .testimonials:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 73%;
  height: 2px;
  background-color: #d8d5fb;
}
.wrapper .testimonials:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 27%;
  height: 2px;
  background-color: #d8d5fb;
}
.wrapper .testimonials q {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 26.3px;
}
.wrapper .testimonials h2 {
  position: relative;
  margin-top: 40px;
  font-family: poppins;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7a7894;
}
.wrapper .testimonials h2::before,
.wrapper .testimonials h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background: #212224;
}
.wrapper .testimonials h2:before {
  left: -34px;
}
.wrapper .testimonials h2:after {
  right: -34px;
}
.wrapper .testimonials ul {
  display: inline-block;
  padding: 0px;
}
.wrapper .testimonials ul li {
  display: inline-block;
  list-style: none;
  width: 15px;
  height: 15px;
  border: 2px solid #582cef;
  margin: 0 3px;
  margin-top: 40px;
  cursor: pointer;
  transition: background 0.3s;
}
.wrapper .testimonials ul li.active {
  background-color: #582cef;
}
.wrapper .testimonials ul li:hover {
  background-color: #582cef;
}
.wrapper .portfolio {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px;
  background: #eaeaff;
  border-radius: 6px;
}
.wrapper .portfolio h2 {
  font-family: "Monument";
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
}
.wrapper .portfolio p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  margin-bottom: 30px;
}
.wrapper .portfolio .gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px 350px 350px;
  grid-gap: 10px;
  margin-top: 60px;
}
.wrapper .portfolio .gallery .imgbx {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
}
.wrapper .portfolio .gallery .imgbx::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}
.wrapper .portfolio .gallery .imgbx:hover img {
  transform: scale(1.2) rotate(6deg);
}
.wrapper .portfolio .gallery .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s cubic-bezier(0, 0.47, 0.48, 1.03);
}
.wrapper .contact {
  position: relative;
  width: 100%;
  height: 840px;
  display: flex;
  margin-top: 80px;
  background: #252f31;
}
.wrapper .contact .details {
  width: 50%;
  height: 100%;
}
.wrapper .contact .details h1 {
  font-family: "Monument";
  font-size: 2.6em;
  color: #e4e4ff;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.wrapper .contact .details p {
  font-family: poppins;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  color: #949494;
  line-height: 1.6em;
  font-weight: 600;
}
.wrapper .contact .details .box {
  margin-top: 50px;
}
.wrapper .contact .details .box p {
  font-weight: 700;
}
.wrapper .contact .details .box p,
.wrapper .contact .details .box span {
  font-family: poppins;

    font-weight: 600;
  line-height: 1.3em;
  color: #adadad;
  font-size: 16px;
  color: #949494;
  line-height: 1.6em;
}
.wrapper .contact .details .box span {
  font-weight: 500;
}
.wrapper .contact .details .box strong {
  text-transform: capitalize;
  color: #e6e6ff;
  font-size: 1.1em;
}
.wrapper .contact .form {
  position: relative;
  width: 50%;
  height: 100%;
  padding-top: 45px;
  padding-left: 134px;
}
.wrapper .contact .form label {
  display: block;
  color: #d5d5ff;
  font-size: 1.3em;
  margin-bottom: 30px;
  cursor: pointer;
}
.wrapper .contact .form label i {
  color: #495555;
  font-style: normal;
}
.wrapper .contact .form input {
  position: relative;
  background: #495555;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
  padding: 24px;
  color: #ded9ff;
  font-size: 18px;
  text-transform: capitalize;
}
.wrapper .contact .form textarea {
  position: relative;
  background: #495555;
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  min-height: 260px;
  border: none;
  outline: none;
  padding: 20px;
  color: #ded9ff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  resize: none;
}
.wrapper .contact .form button {
  background: #39ff8875;
  color: #34a742;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  margin-top: 30px;
  outline: none;
  font-weight: 400;
  border: 2px solid #74ff634d;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #151f20;
  color: #dadaff;
  padding: 20px 30px;
  border: none;
  box-shadow: none;
  letter-spacing: 2px;
}
.wrapper .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191e22;
  width: 100%;
  height: 100px;
}
.wrapper .footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.wrapper .footer .content p {
  font-weight: 500;
  text-transform: capitalize;
  color: #dadaff;
  font-size: 1.2em;
}
.wrapper .footer .content p q {
  font-family: "Strretch Sans Free";
  text-transform: uppercase;
  color: #e6a122;
  font-size: 1.2em;
}
.wrapper .footer .content .sci {
  display: flex;
}
.wrapper .footer .content .sci li {
  list-style: none;
}
.wrapper .footer .content .sci .fab {
  position: relative;
  margin: 6px 10px 8px 9px;
  font-size: 26px;
  color: #d2d3ff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.wrapper .footer .content .sci .fab:hover {
  color: #4f8dff;
}

::selection {
  background: #5959db;
  color: #d6d6ff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151518;
}

::-webkit-scrollbar-thumb {
  background: #d9dbff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ceced4;
}

/*# sourceMappingURL=main.css.map */
